@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'monaco', monospace;  
}

main {
    padding-left: 10px;
}

h1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	
	font-size: 54px;
	line-height: 5px;

	text-shadow: 0 2px white, 0 3px #777;
}

h2 {
    font-family: 'monaco', monospace;
    font-size: 36px;
}

h3 {
    color:red;
    font-family: monospace;
}

p {
    font-family: 'monaco', monospace;
}

#room-code {
    width: 20%;
}

.msg-self{
    background-color: #D0F0C0;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    float: right;
}

.msg-other{
    background-color: #FFFAF1;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    align-items: left ;
    border-radius: 5px;
    float: left;
}

.colors {
    padding-top: 2px;
    position: relative;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { 
    border-style: solid;
    width: 72px;
}

.whiteboard {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border:2px solid #000000;
    cursor: pointer;
}

.whiteboard:active { 
    cursor: crosshair;
}

.chatbox {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
}

html,body {
    height: 100%;
}

.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1
    }

    76%,
    100% {
        opacity: 0
    }
}

.typing {
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333)
}

.typing h2 {
    position: relative;
    color: goldenrod;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite
}

@keyframes type {

    0%,
    100% {
        width: 0px
    }

    30%,
    60% {
        width: 394.09px
    }
}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite
    }

    @keyframes type {

        0%,
        100% {
            width: 0px
        }

        30%,
        60% {
            width: 305px
        }
    }
} 

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .player-container {
    padding: 2px 16px;
  }