body {
    font-family: 'monaco', monospace;  
}

h1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	
	font-size: 54px;
	line-height: 5px;

	text-shadow: 0 2px white, 0 3px #777;
}

h2 {
    font-family: 'monaco', monospace;
    font-size: 36px;
}

h3 {
    color:red;
    font-family: monospace;
}

p {
    font-family: 'monaco', monospace;
}

.msg-self{
    background-color: #D0F0C0;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    float: right;
}

.msg-other{
    background-color: #FFFAF1;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    align-items: left ;
    border-radius: 5px;
    float: left;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}