{% extends "base.html" %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
    <input type="hidden" value={{loggedin.username}} id="username">
    <input type="hidden" value={{room.room_code}} id="room_id">
    <input type="hidden" value={{canvas_url}} id="canvasURL">
    <input type="hidden" value={{start}} id="startTime">
    <input type="hidden" value={{room.started}} id="started">
    <input type="hidden" value={{curr}} id="currentPlayer">
    <input type="hidden" value={{loggedin}} id="user">

    <div class= "col align-self-end top-right" 
    style="position: absolute; right: 0; top: 0; color: white; text-align:right;
    font-family: 'Supernatural Knight', sans-serif;
    margin-top: 10px;
    margin-right: 10px;"
    > 
      <h2>{{loggedin.username}}</h2>
      <button class="btn btn-primary mt-2" id = "leave_room">Leave Room</button><br>
    </div>

    <div class="row h-20 justify-content-center">
        <div class="col-2">

        </div>
        <div class="col-5">
            <h1 class="title glow" style="size: 50px; text-align: left;">Doodled.IO</h1>
        </div>
        <div class="col-3">
            <h4 class="time" id = "time">Time Left</h4>
        </div>
        
    </div>
    
    <div class="row h-80">
        
        <!-- <div class="typing"><h2> Doodled!</h2></div> -->
        <div class="col-3 col-xl-3">
            <h2 class="heading">Room {{room.room_code}}</h2>
            <div id="roundno"> 
                <h2 class="round">Round {{room.round_no}}</h2>
            </div>

            <div id="word">
                <h3>
                {% if room.started == False %}
                    ******
                {% elif loggedin == curr %}
                    {{room.word}}
                {% else %}
                {% for char in room.word %}
                    {% if char != " " %}
                        *
                    {% else %}
                        &nbsp;
                    {% endif %}
                {% endfor %}
                {% endif %}
            </h3></div>
            
            <div class="card" id="playerlist">
                {% for player in room.done_players.all %}
                    <div class = "player-container playerclick">
                        {{player.kickers.all|length}}
                        {% if player == curr %}
                            <b style="color:blueviolet"> {{player.username}} </b>
                        {% else %}
                            <b> {{player.username}} </b>
                        {% endif %}
                        {{player.user_score.score}}
                        {% if player.username != loggedin.username %}
                            <button class="kickButtons" id="{{player.username}}">Kick</button>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for player in room.rem_players.all %}
                    <div class = "player-container playerclick">
                        {{player.kickers.all|length}}
                        {% if player == curr %}
                            <b style="color:blueviolet"> {{player.username}} </b>
                        {% else %}
                            <b> {{player.username}} </b>
                        {% endif %}
                        {{player.user_score.score}}
                        {% if player.username != loggedin.username %}
                            <button class="kickButtons" id="{{player.username}}">Kick</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div id="alert-box"></div>
            {% if room.owner != loggedin or room.started %}
                <button class="btn btn-secondary mt-2" value = "over" id = "start_game">Start Game</button><br>
            {% else %}
                <button class="btn btn-primary mt-2" value = "working" id = "start_game">Start Game</button><br>
            {% endif %}
            
        </div>
        <div class="col-6 col-xl-6">
            <canvas class="whiteboard"></canvas>
            <div class="row colors" style="margin-left: 5px;">
                <div class="color c1"></div>
                <div class="color c2"></div>
                <div class="color c3"></div>
                <div class="color c4"></div>
                <div class="color c5"></div>
                <div class="color c6"></div>
                <div class="color c7"></div>
                <div class="color c8"></div>
                <div class="color c9"></div>
                <div class="color c10"></div>
                <div class="color c11"></div>
                <div class="color c12"></div>
                
            </div>
        </div>
        
        <div class="col-3 col-xl-3">
            <!-- Content here -->

            <!-- 
                Some background images
                https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg
                https://amymhaddad.s3.amazonaws.com/morocco-blue.png
             -->
            <div class="container chatbox" id="messages-box" style= "background-color: rgba(200, 200, 200, 0.4);">
                {% for msg in chat_messages %}
                    {% if msg.author == loggedin.username %}
                        <div class="row justify-content-end" style="margin-bottom: 10px;">
                        <div class="col-4 msg-self">
                        <b>{{msg.author}}</b><br>
                        {{msg.text}}
                        </div></div>
                    {% else %}
                        <div class="row justify-content-start" style="margin-bottom: 10px;">
                        <div class="col-4 msg-other">
                        <b>{{msg.author}}</b><br>
                        {{msg.text}}
                        </div></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" 
                    id="message-input" 
                    class="form-control" 
                    placeholder="Message" 
                    style="background-color: rgba(255, 255, 255, 0.8);">
                    <input type="hidden" id="send-btn"> {% csrf_token %}
                    <!-- <button class="btn btn-primary mt-2" id="send-btn">{% csrf_token %}Send</button> -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'main.js' %}"></script>
{% endblock scripts %}