{% extends "base.html" %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
    <input type="hidden" value={{username}} id="username">
    
    <div class="row">
        <div class="col-9 col-xl-9">
            <canvas class="whiteboard"></canvas>
            <div class="colors">
                <div class="color black"></div>
                <div class="color red"></div>
                <div class="color green"></div>
                <div class="color blue"></div>
                <div class="color yellow"></div>
            </div>
        </div>
        
        <div class="col-3 col-xl-3">
            <!-- Content here -->
            <div id="alert-box"></div>
            <div class="container" id="messages-box" style="overflow-y:scroll; height:800px; display: flex; flex-direction: column-reverse;">
                
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" id="message-input" class="form-control" placeholder="your message">
                    <button class="btn btn-primary mt-2" id="send-btn">send</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'main.js' %}"></script>
{% endblock scripts %}