{% extends "base.html" %}
{% load static %}

{% block title %}
main page
{% endblock title %}

{% block content %}
    <input type="hidden" value={{username}} id="username">
    <input type="hidden" value={{roomid}} id="roomid">
    
    <div class="row h-100">
        <div class="typing"><h2> Doodled!</h2></div>
        <div class="col-3 col-xl-3">
            <h2>Room {{roomid}}</h2>
            <div class="container" id='roomdetails'></div>
            <div id="alert-box"></div>
            <a href = "{% url 'home' %}"><button class="btn btn-primary mt-2">Leave Room</button></a>
        </div>
        <div class="col-6 col-xl-6">
            <canvas class="whiteboard"></canvas>
            <div class="colors">
                <div class="color black"></div>
                <div class="color red"></div>
                <div class="color green"></div>
                <div class="color blue"></div>
                <div class="color yellow"></div>
                <div class="color white"></div>
            </div>
        </div>
        
        <div class="col-3 col-xl-3">
            <!-- Content here -->

            <!-- 
                Some background images
                https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg
                https://amymhaddad.s3.amazonaws.com/morocco-blue.png
             -->
            <div class="container chatbox" id="messages-box" style= "background-image: url(https://amymhaddad.s3.amazonaws.com/morocco-blue.png)">
                {% for msg in chat_messages %}
                    {% if msg.author == username %}
                        <div class="row justify-content-end" style="margin-bottom: 10px;">
                        <div class="col-4 msg-self">
                        <b>{{msg.author}}</b><br>
                        {{msg.text}}
                        </div></div>
                    {% else %}
                        <div class="row justify-content-start" style="margin-bottom: 10px;">
                        <div class="col-4 msg-other">
                        <b>{{msg.author}}</b><br>
                        {{msg.text}}
                        </div></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" id="message-input" class="form-control" placeholder="Message">
                    <button class="btn btn-primary mt-2" id="send-btn">{% csrf_token %}Send</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'main.js' %}"></script>
{% endblock scripts %}