{% extends 'login-reg-base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}

    <div class= "col align-self-end top-right" 
    style="position: absolute; right: 0; top: 0; color: white; text-align:right;
    margin-top: 10px;"
    > 
      <p style="font-family: 'Supernatural Knight', sans-serif; font-size: 40px;">{{username}}
      <a href = "{% url 'logout' %}"><button class="btn btn-danger btn-lg"><i class="fa fa-sign-out"></i></button></a>
      </p>
    </div>

    <div style=" font-family: 'monaco', monospace; text-align: center;">
      <br>
      <br>
      <a href="{% url 'main0' %}" class="themed-button">
        <span class="inactive">Create Public Game</span>
        <span class="active">&lt Create Public Game &gt</span>
      </a>
      <br>
      <br>
      <a href="{% url 'main1' %}" class="themed-button">
        <span class="inactive">Create Private Game</span>
        <span class="active">&lt Create Private Game &gt</span>
      </a>
      <br>
      <br>
    </div>

    <div class="row justify-content-center">
      <div class="col-3" style="text-align: center;">
        <!-- <button class="btn themed-button" id="join-room" style="margin-left:60px; text-align: center;">Join Room</button> -->
        <input id="roomcode" 
          type="text" 
          name="roomcode" 
          class="themed-input" 
          style="text-align: center; font-family: 'Supernatural Knight', sans-serif; color: white; border-bottom: 1px solid white ; font-size: 30px;" 
          placeholder="RoomCode"
          size="10"
          
          >
        <label for="roomcode"></label>
        <input type="hidden" id="join-room">
        		
      <!-- <input type="text" id="room-code" class="form-control text-center" placeholder="Room Code"> -->
      <br>
      </div>
      <br>
    </div>

    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="row">
      
      <div class="col-1"></div>
      <div class="col-3">
        <br>
        <h3 style = "font-family: 'monaco',monospace; color: white; font-size: 30px;"> Public Rooms </h3>
        {% for codes in codelist %}
          {% if codes.room_type == "public" %}
            {% if codes.owner == loggedin %}
              <button class="btn btn-success mt-2 public" style=" background-color: rgba(255, 255, 255, 0.2); border: none;" value="{{codes}}"> {{codes}} </button>
              <button class = "btn btn-danger mt-2 delete" value="{{codes}}"><i class="fa fa-trash"></i></button>
            {% else %}
              <button class="btn btn-success mt-2 public" style="background-color: rgba(255, 255, 255, 0.2); border: none;" value="{{codes}}">
                 {{codes}} 
                 - {{codes.owner.username}}
              </button>
            {% endif %}
            <br>
          {% endif %}
        {% endfor %}

        <br>
      </div>

      <div class="col-4" style="">
        <h2 style = "font-family: 'monaco',monospace; color: white; font-size: 45px; text-align: center;">
          Leaderboard
        </h2>
        <br>
        {% for user,score in nonadmin %}
          <div class="row" style="">
            <div class="col-1"></div>
            <div class="col-7" style="font-family: 'monaco',monospace; color: white; font-size: 25px;">
              {{user}}
            </div>
            <div class="col-3" style="font-family: 'monaco',monospace; color: white; text-align: right; font-size: 25px;">
              {{score}}
            </div> 
            <div class="col-1"></div>
          </div>
        {% endfor %}
      </div>

      <div class="col-1"></div>
      <div class="col-3">
        <br>
        <h3 style = "font-family: 'monaco',monospace; color: white; font-size: 30px;"> Private Rooms</h3>
        {% for codes in codelist %}
          {% if codes.room_type == "private" and codes.owner == loggedin%}
            <button class="btn btn-success mt-2 public" style="background-color: rgba(255, 255, 255, 0.2); border: none;" value="{{codes}}"> {{codes}} </button>
            <button class = "btn btn-danger mt-2 delete" value="{{codes}}"><i class="fa fa-trash"></i></button>
            <br>
          {% endif %}
        {% endfor %}
        <br>
        <!-- <h2 style = "font-family: 'monaco',monospace; color: white; font-size: 30px;">
          Admins
        </h2>
        <br>
        {% for user in admin %}
            <h5 style="font-family: 'monaco',monospace; color: white;">{{user}}</h5>
        {% endfor %} -->
      </div>

    </div>


    <script>
      const joinRoom = document.getElementById('join-room') ;
      const roomCode = document.getElementById('roomcode') ;
      const pub = document.getElementsByClassName('public') ;
      const del = document.getElementsByClassName('delete') ;
  
      joinRoom.addEventListener('click',()=>{
        var code = roomCode.value 
        if(code.length != 6 || code != code.toUpperCase()) {
          alert('Enter a valid room code!');
          return;
        }
        window.location.href = '../lobby/'+code;
      })

      // Submit input if enter key is pressed
      roomCode.addEventListener("keyup",function(event){
        if (event.keyCode === 13) {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          joinRoom.click();
        }
      })
  
      Object.entries(pub).map((object)=>{
        object[1].addEventListener('click',()=>{
          var code = object[1].value
          window.location.href = '../lobby/'+code;
        })
      })
  
      Object.entries(del).map((object)=>{
        object[1].addEventListener('click',()=>{
          var code = object[1].value
          window.location.href = '../delete/'+code;
        })
      })
    </script>


{% endblock %}


  
