{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
  <!-- Set the page to the width of the device and set the zoon level -->
  <meta name="viewport" content="width = device-width, initial-scale = 1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body></body>
  
  <main>
    <center>
      <h1>Hello {{username}}!</h1>
      <h2>Welcome to Doodled!</h2>
      <a href="{% url 'main1' %}" class="btn btn-info btn-lg" role="button">Create a Private Game</a>
      <a href="{% url 'main0' %}" class="btn btn-info btn-lg" role="button">Create a Public Game</a>
      <a href = "{% url 'logout' %}"><button class="btn btn-warning btn-lg">Logout</button></a>
      <br>
      <br>
      <input type="text" id="room-code" class="form-control text-center" placeholder="Room Code">
      <button class="btn btn-primary mt-2" id="join-room">Join Room</button>
    </center>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <h3>Registered Users:</h3>
        {% for user in userlist %}
          {% if user.is_superuser %}
          {% else %}
            <h5>{{user}}</h5>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col">
        <h3>Admins:</h3>
        {% for user in userlist %}
          {% if user.is_superuser %}
            <h5>{{user}}</h5>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col">
        <h3> Public Rooms: </h3>
        {% for codes in codelist %}
          {% if codes.room_type == "public" %}
            {% if codes.owner == loggedin %}
              <button class="btn btn-success mt-2 public" value="{{codes}}"> {{codes}} </button>
              <button class = "btn btn-danger mt-2 delete" value="{{codes}}">Delete Room</button>
            {% else %}
              <button class="btn btn-success mt-2 public" value="{{codes}}"> {{codes}} - {{codes.owner_username}} </button>
            {% endif %}
            <br>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col">
        <h3> Your Rooms: </h3>
        {% for codes in codelist %}
          {% if codes.room_type == "private" and codes.owner == loggedin%}
            <button class="btn btn-success mt-2 public" value="{{codes}}"> {{codes}} </button>
            <button class = "btn btn-danger mt-2 delete" value="{{codes}}">Delete Room</button>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>

  <script>
    const joinRoom = document.getElementById('join-room') ;
    const roomCode = document.getElementById('room-code') ;
    const pub = document.getElementsByClassName('public') ;
    const del = document.getElementsByClassName('delete') ;

    joinRoom.addEventListener('click',()=>{
      var code = roomCode.value 
      if(code.length != 6 || code != code.toUpperCase()) {
        alert('Enter a valid room code!');
        return;
      }
      window.location.href = '../lobby/'+code;
    })

    Object.entries(pub).map((object)=>{
      object[1].addEventListener('click',()=>{
        var code = object[1].value
        window.location.href = '../lobby/'+code;
      })
    })

    Object.entries(del).map((object)=>{
      object[1].addEventListener('click',()=>{
        var code = object[1].value
        window.location.href = '../delete/'+code;
      })
    })
  </script>

</body>
</html>