<!-- templates/registration/login.html -->
{% extends 'login-reg-base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="text-align: center;">
  <br>
  <br>
  
  <a href="{% url 'login' %}" class="themed-button">
    <span class="inactive">Login</span>
    <span class="active">&lt Login &gt</span>
  </a>
  <br>
  <br>
  <a href="{% url 'register' %}" class="themed-button">
    <span class="inactive">Register</span>
    <span class="active">&lt Register &gt</span>
  </a>
</div>
<div class="col-8 container-sm">
  <br>
  <br>
  <br>

  <h2 class="head">Login To Your Account</h2>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="input-container">
      <input id="username" type="text" name="username" class="themed-input" required="">
		  <label for="username">Username</label>		
	  </div>
	  <div class="input-container">		
      <input id="password" type="password" name="password" required="">
		  <label for="password">Password</label>
	  </div>
    <button type="submit" class="btn" style="
      background: transparent;
      background-repeat: no-repeat;
      border-radius:20px;
      border: none;
      cursor: pointer;
      overflow: hidden;
      color: white;
      outline: none;" 
      role="button">Login
    </button>
  </form>
</div>

    
{% endblock %}